
body {
  background-color: #f0f0f0;
  font-family: lato;
}

.background {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 25px;
  height: 500px;
  margin: 6% 10% 10% 10%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  
}

.basic-info {
  display: flex;
  flex-direction: row;
}

.name {
  display: flex;
  flex-direction: column;
}


h2 {
  font-size: 32px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin-bottom: 15px;
  color: #333;
}
h4 {
  font-size: 13px;
  color: #00baff;
  letter-spacing: 1px;
  margin-bottom: 25px
}
p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
  color: #666;
}