body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: #f0f0f0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* nav bar*/
header {
    background: #f9e0db;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    height: 100px;
    width: 150px;
    padding: 10px 0;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
    position: relative;
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: #000;
}

nav a::before {
    content: '';
    display: block;
    height: 4px;
    width: 0%;
    background-color: #444;
    position: absolute;
    top: 0;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;

}

/* Main Page */
.front-page {
    background-color: white;
}

.headline {
    color: #588061;
    font-family: 'Montserrat', sans-serif;
}

.text-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 40%;
    margin-top: 200px;
    margin-left: 100px;
    padding-right: 55px;
}

.format-all {
    display: flex;
    flex-direction: row;
}

.cover-photo {
    width: 40%;
    margin-top: 120px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.075);
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
}

/* Track Page */
.monthly-budget {
    color: #588061;
    font-family: 'Montserrat', sans-serif;
    margin-left: 425px;
    margin-top: 45px;
}

  .slider {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:250px;
    height:30px;
    padding:20px;
    background:#f5f5f5;
    border:1px solid #588061;
    border-radius:20px;
    display:flex;
    align-items:center;
    box-shadow:0px 10px 20px rgba(0,0,0,0.15);
  }
  .slider p {
    font-size:18px;
    font-weight:600;
    font-family:sans-serif;
    padding-left:20px;
    color:#588061;
  }
  .slider input[type="range"] {
    -webkit-appearance:none !important;
    width:200px;
    height:1px;
    background:#588061;
    border:none;
    outline:none;
  }
  .slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance:none !important;
    width:20px;
    height:20px;
    background:#f5f5f5;
    border:2px solid #588061;
    border-radius:50%;
    cursor:pointer;
  }
  .slider input[type="range"]::-webkit-slider-thumb:hover {
    background:#588061;
  }


/* Profile Page */
.profile {
    border-radius: 50%;
    height: 150px;

}

.format-profile {
    display: flex;
    margin: 75px 100px 75px 100px;
}


/* Rewards Page */
.background {
    display: flex;
    background-color: #fff;
    border-radius: 25px;
    height: 500px;
    margin: 6% 10% 10% 10%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.075);
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
    
}

.text {
    color: #588061;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    margin-left: 295px;
    margin-top: 50px;
}
.piggy {
    position: relative;
    height: 300px;
    margin-top: 120px;
    margin-left: 200px;
}

.format-text {
    color: #869f77;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    margin-left: 200px;
    margin-top: 50px;
}

.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	position: relative;
	padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    float: left;
	border-radius: 10px;
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;	
}

.gold
{
	background-color: rgb(221, 192, 28);
	border-bottom: 5px solid rgb(216, 169, 13);
    text-shadow: 0px -2px rgb(216, 169, 13);
    margin-bottom: 20px;
    padding-left: 30%;
}

.silver
{
	background-color: rgb(199, 199, 191);
	border-bottom: 5px solid rgb(151, 151, 145);
    text-shadow: 0px -2px rgb(151, 151, 145);
    margin-bottom: 20px;
    padding-left: 29%;
}

.bronze
{
	background-color: rgb(189, 128, 36);
	border-bottom: 5px solid rgb(145, 106, 48);
    text-shadow: 0px -2px rgb(145, 106, 48);
    margin-bottom: 20px;
}


.action-button:active
{
	transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

.button-container {
    display: flex;
    flex-direction: column;

    margin-top: 160px;
    margin-left: 220px;

}

.upper-corner {
    height: 40px;
    margin-top: -355px;
    margin-left: 525px;
    position: absolute;
}
  